sudo: false
language: java
jdk:
- oraclejdk8

addons:
  apt:
    packages:
      - graphviz

script:
- mvn clean install javadoc:javadoc

after_success:
- mvn jacoco:prepare-agent test jacoco:report coveralls:report

cache:
  directories:
    - $HOME/.m2
